<h2>Change avatar</h2>

<% if current_user.avatar.attached? %>
  <div>
    <div>Current avatar:</div>
    <%= image_tag(current_user.avatar, width: 100, height: 100) %>
  </div>
  <br/>
<% end %>

<%= form_for(current_user, url: user_avatar_path, html: { method: :post, class: 'form' }) do |f| %>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
