<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav-list">
        <li>
          <%= link_to('Home', root_path) %>
        </li>
        <li>
          <%= link_to 'New Product', new_product_path, class: 'link-btn' %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to('Change avatar', new_user_avatar_path) %>
          </li>
          <li>
            <%= link_to('Edit registration', edit_user_registration_path) %>
          </li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Register', new_user_registration_path) %>
          </li>
          <li>
            <%= link_to('Login', new_user_session_path) %>
          </li>
        <% end %>
      </ul>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
      <% if @version.present? %>
        <div class="app-version">
          <span>Version <%= @version %></span>
          <span class="float-right">
            Rails environment: <%= Rails.env.to_s %>
            <br/>
            Session store: <%= Rails.application.config.session_store.name %>
            <br/>
            Cache: <%= Rails.cache.class.name %>
            <br/>
            Active Storage: <%= Rails.application.config.active_storage.service %>
          </span>
        </div>
      <% end %>
    </div>
  </body>
</html>
